.container {
    margin-top: 5%;
}

.center-button {
    text-align: center;
    margin-top: 20px;
}

.custom-button {
    background-color: #007BFF; /* Change to your preferred color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}