<div class="about-section">
    <h1>About Us Page</h1>
    <p>After going up and down the hill of choosing a destination, we look for a tour operator who can manage the hassle of bookings. From going through the website to reading the recommendations and reviews, we tend to make sure if everything seems perfect. Which is why we present to you a special section – Tourism of India Reviews.

        Through this section, we share with you reviews from customers who have loved our dedicated services and the whole sojourn. Our two-time National Tourism Award winning company goes by the motto of serving the customers with the best of everything. The same is made sure by our 100+ travel experts who take care of even the littlest preference of the guests. While the good customer feedbacks keep us motivated to do better, the contrary helps us improve and leave no stone unturned. Read the 100% authentic travel experiences to help you make up your mind.
        </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/malai.jpg" alt="Jane" style="width:100% " >
        <div class="container">
          <h2>Tamilnadu</h2>
          <p class="title">Famous Tourist Spot in tamilnadu</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/than.jpg" alt="Mike" style="width:600px" height="490px">
        <div class="container">
          <h2>karnataka</h2>
          <p class="title">Famous Tourist Spot in karnataka</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/chennai.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>AndraPradesh</h2>
          <p class="title">Famous Tourist Spot in Andrapradesh</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div> 