<div class="container-fluid p-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/chennai.jpg" alt="" width="100%" height="400px" class="rounded " class="ms-2">
            <div class="text-center fw-bold">Mahabalipuram</div>
        </div>
        <div class="col-3  ">
            <img src="/assets/than.jpg" alt="" width="100%" height="400px"  class="rounded" class="ms-2">
            <div class="text-center fw-bold">Tanjore</div>
        </div>
        <div class="col-3 ">
            <img src="/assets/malai.jpg" alt="" width="100%" height="400px"  class="rounded" class="ms-2">
            <div class="text-center fw-bold">Rock Fort</div>
        </div>
        <div class="col-3 ">
            <img src="/assets/kan.jpg" alt="" width="100%" height="400px"  class="rounded" class="ms-2">
            <div class="text-center fw-bold">Kumari</div>
        </div>
    </div>
    <div class="center-button">
        <button (click)="gotohome()" type="button" class="btn btn-outline-info" style="width: 1160px;">Back</button>
    </div>
  </div>
