<nav class="navbar navbar-expand-lg  bg-danger">
    <div class="container text-white">
      <img src="/assets/logo.png" alt="" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="justify-content-between">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="# ">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              states
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/tamilnadu">Tamilnadu</a></li>
              <li><a class="dropdown-item" routerLink="/karnataka">karnataka</a></li>
              <li><a class="dropdown-item" routerLink="/kerala">kerala</a></li>
              <li><a class="dropdown-item" routerLink="/andrapradesh">andrapradesh</a></li>
              <li><a class="dropdown-item" routerLink="/gujarat"></a></li>

              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
           <li class="nav-item">
            <a class="nav-link text-white"  routerLink='/aboutus' >About us</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link text-white" routerLink='/contactus'>Contact Us</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-info" type="submit">Search</button>
        </form>
        <button class="btn btn-primary ms-4" (click)="gotoform()">Apply Online</button>

      </div>
    </div>
</div>
  </nav>
  <div class="row">
    <img src="/assets/tour.jpg" width="1850px">
  </div>

  <div class="container ">
  <div class="con">
   <h1><span style="color:crimson;">India Tour</span>  & Holiday Packages 2024</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="con1">
    A kaleidoscope of traditions, culture, and vibrant geographies, India speaks for itself as a soul-stirring journey. Snow-covered peaks of the Himalayas stretch of coastline, natural greenery to depths of spirituality, and clusters of cultural shades. All of these aspects join together to define the raw beauty through which India captures the heart of every tourist. Discover the different facets of this multicolored country as it shapes your vision at every fold. With the country's tourism branched into several forms, India has a chunk for every kind of traveler. To get things going, here is an India travel planner which incorporates must-visit tourist attractions, places to visit in India, how to reach, and the best time to visit.
  </div>
</div>
<div class="best">
<div class="container text-center"   style="margin-top: 2%;">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <h2 class="text-center" style="color:tomato;">Best Selling Tour Packages</h2>
    <div class="carousel-indicators">
      <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-4">
              <img src="/assets/chennai.jpg"data-bs-toggle="modal" data-bs-target="#staticBackdrop1" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Mahapalipuram</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.
                  </p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/malai.jpg"data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title"> Rock Fort</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.</p>
            </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/kan.jpg" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" style="width: 300px;height: 200px; ">
              <div class="card-body">
                <h5 class="card-title">Kannyakumari</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.</p>
            </div>
            </div>
          </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="/assets/moonar.jpg" data-bs-toggle="modal" data-bs-target="#staticBackdrop4" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Kodaikanal</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.
                  </p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/than.jpg" data-bs-toggle="modal" data-bs-target="#staticBackdrop5" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Tanjore</h5>
                <p class="card-text">Aluminium design
                  Ceramic Shield front
                  Colour-infused glass back
                  </p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/wp.jpg"data-bs-toggle="modal" data-bs-target="#staticBackdrop6" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Himalaya</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.
                  </p>
              </div>
            </div>
          </div>
    </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="/assets/ker.jpg" data-bs-toggle="modal" data-bs-target="#staticBackdrop7" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Kollam</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.
                  </p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/kera.jpg" data-bs-toggle="modal" data-bs-target="#staticBackdrop8" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Munnar</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.
                  </p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/assets/ker2.jpg" data-bs-toggle="modal" data-bs-target="#staticBackdrop9" style="width: 300px; height: 200px;">
              <div class="card-body">
                <h5 class="card-title">Alapuzha</h5>
                <p class="card-text">I will definitely recommend you to others, 
                  and will use you myself when I travel to India again.
                  </p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-dark">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-dark">Next</span>
    </button>
  </div>
  
</div>
</div>

<div class="h">
  <div class="container-fluid p-5">
    <div class="row">
      <h2 class="text-center" style="color:tomato;">India Packages by Destination</h2>
      <div class="col-3" style="  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19); padding: 20px;">
        <a routerLink="/tamilnadu">
          <img src="/assets/tn.png" alt="" width="100%" height="370px"  class="rounded">
          <div class="text-center fw-bold">Tamilnadu</div>
        </a>
    </div>
        
        <div class="col-3" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 20px;">
            <a routerLink="/karnataka" >
              <img src="/assets/krt.jpg" alt="" width="100%" height="370px"  class="rounded">
              <div class="text-center fw-bold">Karnataka</div>
            </a>
        </div>
        <div class="col-3" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 20px;">
            <a routerLink="/kerala">
              <img src="/assets/kl.jpg" alt="" width="100%" height="370px" class="rounded">
              <div class="text-center fw-bold">kerala</div>
            </a>
        </div>
       
        <div class="col-3" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 20px;">
            <a routerLink="/andrapradesh">
              <img src="/assets/andra.jpg" alt="" width="100%" height="370px"  class="rounded">
              <div class="text-center fw-bold">andrapradesh</div>
            </a>
        </div>
    </div>
  </div>
</div>


<div class="container mt-3">
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" style="width: 700px;height: 80px;margin-left: 300px;font-size:x-large;">
    Apply Online
  </button>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Apply Here</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <app-login></app-login>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<footer>
  <div class="row primary">
    <div class="column about">
  
    <h3>ABOUT US :</h3>
  
     <p>
      Tourism in india,<br>
      1/678 anna nagar,
      chennair,<br>
      Tel: +91 9855837930
    </p>
  
    <div class="social">
      <i class="fa-brands fa-facebook-square"></i>
      <i class="fa-brands fa-instagram-square"></i>
      <i class="fa-brands fa-twitter-square"></i>
      <i class="fa-brands fa-youtube-square"></i>
      <i class="fa-brands fa-whatsapp-square"></i>
    </div>
  </div>
  <div class="lis">
  <div class="column links">
  <h3>Terms and conditions</h3>
  
   <ul>
  
    <li>
     <a href="#faq">F.A.Q</a>
    </li>
    <li>
     <a href="#cookies-policy">Cookies Policy</a>
    </li>
    <li>
     <a href="#terms-of-services">Terms Of Service</a>
    </li>
    <li>
     <a href="#support">Support</a>
    </li>
   </ul>
  </div>
  </div>
  
  
  <div class="column subscribe">
   <h3>For Subscribe</h3>
    <div>
     <input type="email" placeholder="Your email id here" class="form-control" required>
     <button class="btn btn-warning">Subscribe</button>
    </div>
  
  </div>
  
  </div>
  
  <div class="row copyright">
    <div class="footer-menu">
  
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Contact</a>
    <a href="">Blog</a>
    <a href="">Social</a>
  
    </div>
     <p>Tourist Places </p>
  </div>
  </footer>